.main-contener
  .index-contener
    %h2 Latest Tweets of Everyone
    =render "shared/tweets" 

    %h2 Latest Users profile
    .tweets-contener
      -@users.each do |user|
        .tweet-contener
          .avater-contener
            =link_to (image_tag "#{user.avater.url}", alt: "", class: "avater-size"),  "/users/#{user.id}" 
            .avater-contener__btn
            -if user_signed_in? && user.id != current_user.id
              -if user.followed_by?(current_user)
                .followed followed
              -else
                =link_to user_relationships_path(user.id), class: "follow", method: :post do
                  follow
          .contents-contener
            .contents-contener__user
              =link_to "#{user.name}", "/users/#{user.id}", class:"user-name" 
            .contents-contener__text
              =user.profile
  -if user_signed_in?
    .user-contener
      .user-name
        =image_tag "#{current_user.avater.url}", alt: "", class: "user-name__avater"
        %h2.user-name__name=current_user.name
        =link_to edit_user_path(current_user.id), class: "user-name__edit" do
          =icon 'fas', 'tools'
      .user-followbox
        =link_to "follow", "#", class: "user-followbox__follow"
        = current_user.followings.count
        =link_to "follower", "#", class: "user-followbox__follower"
        = current_user.followers.count
      .user-profile
        =current_user.profile
        
  -if user_signed_in?
    .btn-box
      =render "shared/tweet_btn"