.main-contener
  .food-contener
    .title-contener
      .title-contener__title
        %p NEW TWEETS 
    %ul.tweets-list
      =render partial: "shared/tweets", collection: @tweets, as: :tweet
    .page-load-status
      .infinite-scroll-request
        | loading!!
        %br
        = paginate @tweets
      %p.infinite-scroll-last
        | end of contents!!!
      %p.infinite-scroll-error
        | this is error message
    = paginate @tweets
  -# .index-contener
  -#   %h2 Latest Tweets of Everyone
     

  -#   %h2 Latest Users profile
  -#   .index-users-contener
  -#     -@users.each do |user|
  -#       .user-contener
  -#         .avater-contener
  -#           =link_to (image_tag "#{user.avater.url}", alt: "", class: "avater-size"),  "/users/#{user.id}" 
  -#           .avater-contener__btn
  -#           -if user_signed_in? && user.id != current_user.id
  -#             -if user.followed_by?(current_user)
  -#               .followed followed
  -#             -else
  -#               =link_to user_relationships_path(user.id), class: "follow", method: :post do
  -#                 follow
  -#         .contents-contener
  -#           .contents-contener__user
  -#             =link_to "#{user.name}", "/users/#{user.id}", class:"user-name" 
  -#           .contents-contener__text
  -#             =user.profile
            
  -# .second-contener
  -#   -if user_signed_in?
  -#     .user-contener
  -#       .user-name
  -#         =image_tag "#{current_user.avater.url}", alt: "", class: "user-name__avater"
  -#         %h2.user-name__name=current_user.name
  -#         =link_to edit_user_path(current_user.id), class: "user-name__edit" do
  -#           =icon 'fas', 'tools'
  -#       .user-followbox
  -#         =link_to "follow", "#", class: "user-followbox__follow"
  -#         %h2= current_user.followings.count
  -#         =link_to "follower", "#", class: "user-followbox__follower"
  -#         %h2= current_user.followers.count
  -#       .user-profile
  -#         =current_user.profile
        
  -#   .tweet-search-box
  -#     =form_with model: @tweet, class: "tweet-search-form", local: true do |f|
  -#       .field
  -#         =f.label :TweetSearch, class: "label-title"
  -#         %br/
  -#         = f.text_field :tweet, class: "search-field"
          
  -#       .actions
  -#         =f.submit "search", class: "send"

  -#   -# .user-search-box
  -#   -#   =form_with model: @user, class: "user-search-form", local: true do |f|
  -#   -#     .field
  -#   -#       =f.label :UserSearch, class: "label-title"
  -#   -#       %br/
  -#   -#       =f.text_field :name, class: "search-field"
  -#   -#     .actions
  -#   -#       =f.submit "search", class: "send"

  -# -if user_signed_in?
  -#   .btn-box
  -#     =render "shared/tweet_btn"