.index-contener
  %h2 Latest Tweets of Everyone
  =render "shared/tweets" 

  %h2 Latest Users profile
  .tweets-contener
    -@users.each do |user|
      .tweet-contener
        .avater-contener
          =link_to (image_tag "#{user.avater.url}", alt: "", class: "avater-size"),  "/users/#{user.id}" 
          .avater-contener__btn= icon 'far', 'user-circle'
        .contents-contener
          .contents-contener__user
            =link_to "#{user.name}", "/users/#{user.id}", class:"user-name" 
          .contents-contener__text
            趣味は大阪の美味しいお店を探して食べ歩くことです。美味しいお店があったら紹介していきます。
            オススメのお店があれば、教えてください。よろしくお願いします。
            -# =user.profile

  -if user_signed_in?
    .btn-box
      =render "shared/tweet_btn"