.index-contener
  .tweets-contener
    .tweet-contener
      =link_to "","/tweets/#{@tweet.id}", class: "link-btn"
      .avater-contener
        =link_to (image_tag "#{@tweet.user.avater.url}", alt: "", class: "avater-size"), "/users/#{@tweet.user_id}" 
      .contents-contener
        .contents-contener__user
          =link_to "#{@tweet.user.name}", "/users/#{@tweet.user_id}", class:"user-name" 
          .daytime
            =@tweet.created_at
        .contents-contener__text
          =@tweet.tweet
        .contents-contener__image
        -if @tweet.image.url
          =link_to (image_tag @tweet.image.url, alt: "", class: "image-size"), "#"
        .contents-contener__contents
          -# =tweet.like
          .contents-contener__contents--icon-font= icon 'far', 'heart'
-if user_signed_in? && current_user.id == @tweet.user_id
  .btn-box
    =render "shared/delete_btn"
    =render "shared/edit_btn"