.contener
  %h2.sign-text User Edit
  =form_with model: @user, class: "new", local: true do |f|
    .field
      = f.label :avater
      %br/
      = f.file_field :avater, autofocus: true, autocomplete: "avater", class: "textfield-size"
    .field
      = f.label :name
      %br/
      = f.text_field :name, autofocus: true, autocomplete: "name", class: "textfield-size"
    .field
      = f.label :profile
      %br/
      = f.text_area :profile, autofocus: true, autocomplete: "profile", class: "textfield-size"
    .actions
      = f.submit "edit", class: "actions__btn"