.main-contener
  .index-contener
    %h2 My Tweets
    =render "shared/tweets"
    %h2 Liked Tweets
    %ul.tweets-contener
      -@like_tweets.each do |tweet|
        %li.tweet-contener
          =link_to "","/tweets/#{tweet.id}", class: "link-btn"
          .avater-contener
            =link_to (image_tag "#{tweet.user.avater.url}", alt: "", class: "avater-size"), "/users/#{tweet.user_id}" 
          .contents-contener
            .contents-contener__user
              =link_to "#{tweet.user.name}", "/users/#{tweet.user_id}", class:"user-name" 
              .daytime
                =tweet.created_at
            .contents-contener__text
              =tweet.tweet
            .contents-contener__image
            -if tweet.image.url
              =link_to (image_tag tweet.image.url, alt: "", class: "image-size"), "#"
            .contents-contener__contents
              -if user_signed_in?
                .contents-contener__contents--likebtn-font
                  -if tweet.like_by?(current_user)
                    =link_to tweet_likes_path(tweet.id), method: :delete do
                      =icon 'far', 'heart'
                      =tweet.likes.count
                  -else
                    =link_to tweet_likes_path(tweet.id), method: :post do
                      =icon 'far', 'heart'
                      =tweet.likes.count
              -else
                .contents-contener__contents--likebtn-font
                  =icon 'far', 'heart' 
                  =tweet.likes.count 
              .contents-contener__contents--comment-font
                =icon 'far', 'comments', "#{tweet.comments.count}"

  .user-contener
    -if user_signed_in? && @user.id == current_user.id
      .user-name
        =image_tag "#{current_user.avater.url}", alt: "", class: "user-name__avater"
        %h2.user-name__name=current_user.name
        -if @user.id == current_user.id
          =link_to edit_user_path(current_user.id), class: "user-name__edit" do
            =icon 'fas', 'tools'
      .user-followbox
        =link_to "follow", follows_user_path , class: "user-followbox__follow" 
        %h2=@user.followings.count
        =link_to "follower", followers_user_path, class: "user-followbox__follower"
        %h2=@user.followers.count
      .user-profile
        =@user.profile

    - else
      .user-name
        =image_tag "#{@user.avater.url}", alt: "", class: "user-name__avater"
        %h2.user-name__name=@user.name
        -if user_signed_in? && @user.id == current_user.id
          =link_to edit_user_path(@user.id), class: "user-name__edit" do
            =icon 'fas', 'tools'
      .user-followbox
        =link_to "follow", "#", class: "user-followbox__follow"
        =link_to "follower", "#", class: "user-followbox__follower"
      .user-profile
        =@user.profile
      .user-followbtn
        -if @user.followed_by?(current_user)
          =link_to user_relationship_path(@user.id), method: :delete do
            followed
        -else
          =link_to user_relationships_path(@user.id), method: :post do
            follow  

  -if user_signed_in?
    .btn-box
      =render "shared/tweet_btn"

    