%li.tweet-post
  =link_to "", "/tweets/#{tweet.id}", class: "link-section"
  .user-section
    .user-section__detail
      =link_to (image_tag "#{tweet.user.avater.url}", class: "user-section__detail--size"), "/users/#{tweet.user_id}"
      =link_to "#{tweet.user.name}", "/users/#{tweet.user_id}", class: "user-section__detail--font"
    .user-section__follow-btn
      =link_to "follow", "#", class: "user-section__follow-btn--size"
  .img-section
  -if tweet.image.url
    =image_tag tweet.image.url, class: "img-section__img"
  .detail-section
    .contents-area
      .contents-area__mark
        -if tweet.like_by?(current_user)
          =link_to tweet_likes_path(tweet.id), method: :delete do
            =icon 'far', 'heart', class: "contents-area__mark--heart"
        -else
          =link_to tweet_likes_path(tweet.id), method: :post do
            =icon 'far', 'heart', class: "contents-area__mark--heart"
        =icon 'far', 'bookmark', class: "contents-area__mark--bookmark"
      .contents-area__date 
        .contents-area__date--font
          =tweet.created_at.strftime("%m-%d")
    .category-area
      .category-area__btn
        .category-area__btn--kind 
          =tweet.category.name
        .category-area__btn--place 
          =tweet.place.name
      .category-area__store
        .category-area__store--font 
          =tweet.store
    .food-area
      .food-area__name
        =tweet.food
      .food-area__price
        =tweet.price
        %span 円
    .tweet-area
      =tweet.tweet


-# %ul.tweets-contener
-#   -@tweets.each do |tweet|
-#     %li.tweet-contener
-#       =link_to "","/tweets/#{tweet.id}", class: "link-btn"
-#       .avater-contener
-#         =link_to (image_tag "#{tweet.user.avater.url}", alt: "", class: "avater-size"), "/users/#{tweet.user_id}" 
-#       .contents-contener
-#         .contents-contener__user
-#           =link_to "#{tweet.user.name}", "/users/#{tweet.user_id}", class:"user-name" 
-#           .daytime
-#             =tweet.created_at.strftime("%Y-%m-%d %H:%M")
-#         .contents-contener__text
-#           =tweet.tweet
-#         .contents-contener__image
-#         -if tweet.image.url
-#           =link_to (image_tag tweet.image.url, alt: "", class: "image-size"), "#"
-#         .contents-contener__contents
-#           -if user_signed_in?
-#             .contents-contener__contents--likebtn-font
-#               -if tweet.like_by?(current_user)
-#                 =link_to tweet_likes_path(tweet.id), method: :delete do
-#                   =icon 'far', 'heart'
-#                   =tweet.likes.count
-#               -else
-#                 =link_to tweet_likes_path(tweet.id), method: :post do
-#                   =icon 'far', 'heart'
-#                   %font=tweet.likes.count
-#           -else
-#             .contents-contener__contents--likebtn-font
-#               =icon 'far', 'heart' 
-#               =tweet.likes.count 
-#           .contents-contener__contents--comment-font
-#             =icon 'far', 'comments', "#{tweet.comments.count}"