!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tweetspace
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}

    -# %script{:src => "/path/to/infinite-scroll.pkgd.min.js"}
  %body

  .header
    .header-left
      .header-left__title
        =link_to "/", class:"header-left__title--font" do
          %p OSAKA
          %P LUNCH

    .header-right
      .header-right__contents
        =link_to "みんなのTweet", tweets_path, class: "header-right__contents--tweet" 

      -if user_signed_in?
        .header-right__posts
          =link_to "Tweet投稿", new_tweet_path, class: "header-right__posts--tweet" 
            
      -if user_signed_in?
        .header-right__user-contents
          =link_to "My Page", user_path(current_user.id), class: "header-right__user-contents--page"

  = yield
  
  .fotter
    .fotter__title
      =link_to "/", class:"fotter__title--font" do
        %p OSAKA
        %P LUNCH
    -if user_signed_in?
      .fotter__button
        =link_to destroy_user_session_path, method: :delete, class: "fotter__button--sign" do
          SIGN OUT
        =link_to "/users/#{current_user.id}", class: "fotter__button--sign" do
          MY PAGE
    -else
      .fotter__button
        =link_to new_user_session_path, class: "fotter__button--sign" do
          SIGN IN
        =link_to new_user_registration_path, class: "fotter__button--sign"do
          SIGN UP