!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tweetspace
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700", :rel => "stylesheet"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .header
    .header__title
      =link_to "/", class:"header__title__text" do
        TC
    -if user_signed_in?
      .header__button
        =link_to destroy_user_session_path, method: :delete, class: "header__button__signin" do
          Log out
        =link_to "/users/#{current_user.id}", class: "header__button__signin" do
          My page
    -else
      .header__button
        =link_to new_user_session_path, class: "header__button__signin" do
          Sign in
        =link_to new_user_registration_path, class: "header__button__signup"do
          Sign up
    
      
  = yield

